<section class="faq">
    <div class="container">
        <div class="row faq__wrapper">
            <div class="col-2">
                <h2 class="faq__title main-title">FAQ</h2>
            </div>
            <div class="col-lg-10">
                <div class="accordion show">
                    <ul class="accordion__list">
                        <li class="accordion__item">
                            <button class="accordion__btn btn" type="button" aria-expanded="false">
                                Как добраться до музея?
                            </button>
                            <div class="accordion__content" aria-hidden="true">
                            В Национальный музей Республики Татарстан можно добраться общественным транспортом:)
                            «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;
                            </div>
                        </li>
                        <li class="accordion__item">
                            <button class="accordion__btn btn" type="button" aria-expanded="true">
                                Есть ли поблизости удобная парковка?
                            </button>
                            <div class="accordion__content"  aria-hidden="false">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Dignissimos eius eum maiores non qui voluptatibus.
                            </div>
                        </li>
                        <li class="accordion__item">
                            <button class="accordion__btn btn" type="button" aria-expanded="true">
                                Можно ли воспользоваться аудиогидом?
                            </button>
                            <div class="accordion__content" aria-hidden="true">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Accusantium dignissimos libero nam neque nesciunt nisi
                                perspiciatis saepe similique tempore voluptatibus.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
