<header class="header">
  <div class="container">
    <div class="row header__content-wrap">
      <div class="col-sm-2 burger--wrap">
          <a class="header__link" href="#">
              <img class="header__logo" src="./img/svg/logo.svg" alt="logo">
          </a>
          <button class="burger btn" aria-label="Открыть меню" aria-expanded="false" data-burger>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
              <span class="burger__line"></span>
          </button>
      </div>
      <div class="col-sm-10">
        <nav class="menu" id="menu-header">
          <ul class="menu__dropdown-list">
            <li class="menu__dropdown-item">
                <a class="menu__dropdown-link main-link" tabindex="1" href="#">Пункт 1</a>
              <ul class="menu__dropdown-inner-list">
                <li class="menu__dropdown-inner-item">
                  <a class="menu__link" tabindex="1" href="#">Подпункт меню 1</a>
                    <ul class="menu__dropdown-sub-list">
                        <li class="menu__dropdown-sub-item">
                            <a class="menu__link" tabindex="1" href="#">ещё меню 1</a>
                        </li>
                        <li class="menu__dropdown-sub-item">
                            <a class="menu__link" tabindex="1" href="#">ещё меню 2</a>
                        </li>
                        <li class="menu__dropdown-sub-item">
                            <a class="menu__link" tabindex="1" href="#">ещё меню 3</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__dropdown-inner-item">
                  <a class="menu__link " tabindex="1" href="#">Подпункт меню 1</a>
                </li>
                <li class="menu__dropdown-inner-item">
                  <a class="menu__link " tabindex="1" href="#">Подпункт меню 1</a>
                    <ul class="menu__dropdown-sub-list">
                        <li class="menu__dropdown-sub-item">
                            <a class="menu__link " tabindex="1" href="#">ещё меню 1</a>
                        </li>
                        <li class="menu__dropdown-sub-item">
                            <a class="menu__link " tabindex="1" href="#">ещё меню 1</a>
                        </li>
                        <li class="menu__dropdown-sub-item">
                            <a class="menu__link " tabindex="1" href="#">ещё меню 1</a>
                        </li>
                    </ul>
                </li>
              </ul>

              <li class="menu__dropdown-item">
                  <a class="menu__dropdown-link main-link" tabindex="1" href="#">Пункт 2</a>
                  <ul class="menu__dropdown-inner-list">
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link" tabindex="1" href="#">Подпункт меню 2</a>
                          <ul class="menu__dropdown-sub-list">
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 2</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 2</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 2</a>
                              </li>
                          </ul>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 2</a>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 2</a>
                          <ul class="menu__dropdown-sub-list">
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 2</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 2</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 2</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li class="menu__dropdown-item">
                  <a class="menu__dropdown-link main-link" tabindex="1" href="#">Пункт 3</a>
                  <ul class="menu__dropdown-inner-list">
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 3</a>
                          <ul class="menu__dropdown-sub-list">
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 3</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 3</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 3</a>
                              </li>
                          </ul>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 3</a>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 3</a>
                          <ul class="menu__dropdown-sub-list">
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 3</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 3</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 3</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li class="menu__dropdown-item">
                  <a class="menu__dropdown-link main-link" tabindex="1" href="#">Пункт 4</a>
                  <ul class="menu__dropdown-inner-list">
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 4</a>
                          <ul class="menu__dropdown-sub-list">
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                          </ul>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 4</a>
                          <ul class="menu__dropdown-sub-list">
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                          </ul>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 4</a>
                          <ul class="menu__dropdown-sub-list">
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                              <li class="menu__dropdown-sub-item">
                                  <a class="menu__link " tabindex="1" href="#">ещё меню 4</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li class="menu__dropdown-item">
                  <a class="menu__dropdown-link main-link" tabindex="1" href="#">Пункт 5</a>
                  <ul class="menu__dropdown-inner-list">
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 5</a>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 5</a>
                      </li>
                      <li class="menu__dropdown-inner-item">
                          <a class="menu__link " tabindex="1" href="#">Подпункт меню 5</a>
                      </li>
                  </ul>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
