<section class="hero">
    <div class="container">
        <div class="row hero__wrapper">
            <div class="col-12">
                <div class="swiper hero__swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide hero__slide">
                            <div class="hero__item">
                                <picture>
                                    <source class="hero__swiper-img" srcset="img/jpg/slider-test-1.webp" type="image/webp">
                                    <source class="hero__swiper-img" srcset="img/jpg/slider-test-1.avif" type="image/avif">
                                    <img class="hero__swiper-img" src="./img/jpg/slider-test-1.jpg" alt="image" width="100%" height="100%">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero__item">
                                <picture>
                                    <source class="hero__swiper-img" srcset="img/jpg/slider-test-2.webp" type="image/webp">
                                    <source class="hero__swiper-img" srcset="img/jpg/slider-test-2.avif" type="image/avif">
                                    <img class="hero__swiper-img" src="./img/jpg/slider-test-2.jpg" alt="image" width="100%" height="100%">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="hero__item">
                                <picture>
                                    <source class="hero__swiper-img" srcset="img/jpg/slider-test-3.webp" type="image/webp">
                                    <source class="hero__swiper-img" srcset="img/jpg/slider-test-3.avif" type="image/avif">
                                    <img class="hero__swiper-img" src="./img/jpg/slider-test-3.jpg" alt="Казанский кремль" width="100%" height="100">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-navigation-wrap">
                    <div class="swiper-button-next swiper__button-next">
                        <svg class="swiper__svg-arrow">
                            <use xlink:href="img/sprite.svg#Arrow_right"></use>
                        </svg>
                    </div>
                    <div class="swiper-button-prev swiper__button-prev">
                        <svg class="svg-arrow">
                            <use xlink:href="img/sprite.svg#Arrow_left"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
