<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="news__title main-title">Новости</h3>
                <div class="swiper news__swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news1.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news1.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news1.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="swiper-slide news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news2.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news2.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news2.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="swiper-slide news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news3.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news3.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news3.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="swiper-slide news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news4.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news4.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news4.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="swiper-slide news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news5.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news5.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news5.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="swiper-slide news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news6.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news6.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news6.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="news__no-swiper">
                    <div class="news__content news__no-swipe-content">
                        <div class="news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news1.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news1.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news1.jpg" alt="контентное изображение" width="100%" height="100%"
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news2.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news2.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news2.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news3.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news3.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news3.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news4.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news4.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news4.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news5.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news5.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news5.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                        <div class="news__item">
                            <picture>
                                <source class="news__img" srcset="img/jpg/news6.webp" type="image/webp">
                                <source class="news__img" srcset="img/jpg/news6.avif" type="image/avif">
                                <img class="news__img" src="./img/jpg/news6.jpg" alt="контентное изображение" width="100%" height="100%">
                            </picture>
                            <h4 class="news__title">Заголовок</h4>
                            <p class="news__descriptions">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, voluptas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
