<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="subscribe__title main-title">Подпишись</h5>
                <p class="subscribe__descriptions">
                    Отправляем анонсы новых статей, выпусков и трансляций
                </p>
                <form class="subscribe__form" method="post">
                    <input placeholder="Email" type="text" class="subscribe__input" id="input-email">
                    <input placeholder="11.02.2022" type="text" class="subscribe__input" id="input-date">
                    <input placeholder="Телефон" type="text" class="subscribe__input" id="input-phone">
                    <input placeholder="15:00" type="text" class="subscribe__input" id="input-time">
                    <button class="subscribe__btn btn submit-btn" type="submit">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
</section>
